---
layout: archive
title: Resources
permalink: /resources/
author_profile: false

header:
  overlay_image: "resources-header.jpg"
  overlay_filter: 0.5  

sidebar:
  - title: "Scripting"
    text: "[Python](https://michelle-hwang.github.io/topic/python/)"
  - title: "Microsoft"
    text: "[Dynamics 365](https://michelle-hwang.github.io/topic/crm/)"
  - title: "Teaching"
    text: "[Teaching](https://michelle-hwang.github.io/topic/teaching/)"
---

{% include base_path %}

<div class="grid__wrapper">
  {% for post in site.tags.resource %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
